<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Home Page</h1>
    </ion-header-bar>

    <ion-content>
      <div class="card">
        <div class="item item-divider">
        Hello!
      </div>
      <div class="item item-text-wrap">
        Welcome to my Kitchen Sync App
      </div>
      </div>
      <div>
        <a ui-sref="range" class="button button-full button-positive">
        Range Page
      </a>
      </div>


<!-- header -->
<div class="bar bar-header bar-calm">
  <h1 class="title">Kitchen Sync</h1>
</div>


<!-- footer -->
<div class="bar bar-footer bar-calm">
  <button class="button icon-left ion-home">Home</button>
  <div class="title">Kitchn Sync</div>
</div>


</ion-pane>

