<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-pane>
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
<ion-content>
 <div class="list card">
  <!--   <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
  <div class="item item-avatar">
    <p>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <h2>{{user.email}}</h2>
      <p>{{user.username}}</p>
    </p>
  </div>

  </ion-content>
</ion-content>

</ion-pane>
